# GLOBAL enviroment variables
USER="${USER:-root}"
SERVICE_USER="${SERVICE_USER:-root}"
LANG="${LANG:-C.UTF-8}"
TZ="${TZ:-America/New_York}"
# healthcheck
HEALTH_ENABLED="${HEALTH_ENABLED:-}"
HEALTH_URL="${HEALTH_URL:-}"
# php version
PHP_VERSION="${PHP_VERSION//php/}"
# services/ports
ENV_PORTS="${ENV_PORTS:-}"
SERVICE_PORT="${SERVICE_PORT:-$PORT}"
WEB_SERVER_PORTS="${WEB_SERVER_PORTS:-}"
SERVICES_LIST="${PROCS_LIST:-$SERVICES_LIST} "
# networing info
FULL_DOMAIN_NAME="${FULL_DOMAIN_NAME:-$DOMAINNAME}"
HOSTNAME="${HOSTNAME:-casjaysdev-GEN_SCRIPT_REPLACE_APPNAME}"
DOMAINNAME="${DOMAINNAME:-}"
HOSTADMIN="${HOSTADMIN:-root@${EMAIL_DOMAIN:-$DOMAINNAME}}"
EMAIL_RELAY="${EMAIL_RELAY:-}"
CONTAINER_IP4_ADDRESS="${CONTAINER_IP4_ADDRESS:-}"
CONTAINER_IP6_ADDRESS="${CONTAINER_IP6_ADDRESS:-}"
# cerbot
SSL_CERT_BOT="${SSL_CERT_BOT:-false}"
CERT_BOT_MAIL="${CERT_BOT_MAIL:-}"
# ssl server settings
SSL_ENABLED="${SSL_ENABLED:-false}"
SSL_DIR="${SSL_DIR:-/config/ssl}"
SSL_CA="${SSL_CA:-$SSL_DIR/ca.crt}"
SSL_KEY="${SSL_KEY:-$SSL_DIR/server.key}"
SSL_CERT="${SSL_CERT:-$SSL_DIR/server.crt}"
SSL_CONTAINER_DIR="${SSL_CONTAINER_DIR:-/etc/ssl/CA}"
# directory settings
WWW_ROOT_DIR="${WWW_ROOT_DIR:-/data/htdocs}"
LOCAL_BIN_DIR="${LOCAL_BIN_DIR:-/usr/local/bin}"
DEFAULT_DATA_DIR="${DEFAULT_DATA_DIR:-/usr/local/share/template-files/data}"
DEFAULT_CONF_DIR="${DEFAULT_CONF_DIR:-/usr/local/share/template-files/config}"
DEFAULT_TEMPLATE_DIR="${DEFAULT_TEMPLATE_DIR:-/usr/local/share/template-files/defaults}"

